In [14]:
import pandas as pd
from transliterate import translit

In [15]:
df = pd.read_csv('preprocessed_chinese_dataset.csv')

In [16]:
# метод перевода
def transliterate_to_russian(text):
    # return translit(text, 'ru')
    transliterated_text = translit(text, 'ru')
    replacements = {
        'q': 'к', 'w': 'уо'
    }

    processed_text = ''
    for char in transliterated_text:
        processed_text += replacements.get(char, char)

    return processed_text

In [17]:
# применяем к датасету
df_transliterated = df.map(transliterate_to_russian)

In [18]:
df_transliterated

      Pinyin Wade-Giles  Romatzyh
0         аи         аи        аы
1      аихао      аихао    аыхауо
2         ба         па        ба
3       баба       паба     бахба
4         ба         па       бах
...      ...        ...       ...
5156     зуи        цуи     тзуеы
5157    зуие       цуие   тзуеыех
5158     зуо         цо     тзуох
5159  зуофеи      цофеи  тзуохфеы
5160  зуожан      цочан  тзуохянн

[5161 rows x 3 columns]

In [19]:
# сохраняем
df_transliterated.to_csv('transliterated_chinese_dataset_with_q_and_w.csv', index=False)