In [9]:
import pandas as pd
from transliterate import translit

In [10]:
df = pd.read_csv('chinese_dataset.csv')

In [11]:
# убираем наны
df.isnull().sum()
data = df.dropna()

In [12]:
# убираем колонку с иероглифами
data = data.drop('Chinese', axis=1)

In [13]:
# прописываем ненужные символы
def preprocess_text(text):
    replacements = {
        'ā': 'a', 'á': 'a', 'ǎ': 'a', 'à': 'a',
        'ē': 'e', 'é': 'e', 'ě': 'e', 'è': 'e',
        'ī': 'i', 'í': 'i', 'ǐ': 'i', 'ì': 'i',
        'ō': 'o', 'ó': 'o', 'ǒ': 'o', 'ò': 'o',
        'ū': 'u', 'ú': 'u', 'ǔ': 'u', 'ù': 'u',
        'ü': 'u', '⁵': '', '⁴': '', '³': '',
        '²': '', '¹': '', ' ': '', "'": ''
    }

    processed_text = ''
    for char in text:
        processed_text += replacements.get(char, char)

    return processed_text

In [14]:
# применяем ко всей табличке
df_preprocessed = data.map(preprocess_text)

       Pinyin Wade-Giles   Romatzyh
0          ai         ai         ay
1       aihao      aihao      ayhaw
2          ba         pa         ba
3        baba       paba      bahba
4          ba         pa        bah
...       ...        ...        ...
5159      zui       tsui      tzuey
5160     zuie      tsuie    tzueyeh
5161      zuo        tso      tzuoh
5162   zuofei     tsofei   tzuohfey
5163  zuozhan    tsochan  tzuohjann

[5161 rows x 3 columns]

In [15]:
# сохраняем
df_preprocessed.to_csv('preprocessed_chinese_dataset.csv', index=False)